@use 'abstracts';
@use 'resets/resets';
@use 'resets/globals';

@mixin desktop {
  @media (min-width: 68em) {
    @content;
  }
}

body {
  background-color: abstracts.$primary-violet;
}

@include desktop {
  body {
    text-align: left;
  }

  .content {
    h1 {
      margin-top: 0;
    }
    p {
      width: min(35em, 60%);
    }
  }
  .container__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;

    & .illustration {
      & img {
        width: 100%;
      }
    }

    & .icons {
      justify-content: flex-start;

      & a img:hover {
        filter: invert(0);
        color: abstracts.$primary-magenta;
      }
    }
  }
}

.illustration {
 & img {
   margin: 0 auto;
 }
}

.icons {
  display: flex;
  justify-content: center;
  gap: .5em;
  margin-top: 2em;

  & img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
  }
}

.footer {
  margin-top: 2em;
}